* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Exo;
    src: url(../public/Exo2.0-Thin.otf);
}

.App {
    background-image: url("../public/Pattern.png");
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.App-header {
    text-align: center;
    color: white;
    line-height: 80px;
    height: 58px;
    font-family: Exo, arial;
    font-size: 18px;
    font-weight: lighter;
}

.App-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
}

@media only screen
and (min-device-width: 320px)
and (max-device-width: 768px) {
    .App-body {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-top: 100px;
    }
}

@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px) {
    .App-body {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}